.antisnake {
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax($cellSide, auto));

  @media (min-width: 900px) {
    & {
      grid-template-columns: repeat(3, minmax($cellSide, auto));
    }
  }
}
