@for $i from 1 through 6 {
  .snake__box:nth-child(#{$i})::after {
    content: "#{$i}";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@each $box-num, $box-color in $color-array {
  .snake__box:nth-child(#{$box-num}) {
    background-color: #{$box-color};
  }
}
