.antisnake {
  display: grid;
  grid-template-columns: repeat(1, minmax(300px, 1fr));

  color: #fff;
  font-size: 100px;

  @media (min-width: 600px) {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }

  @media (min-width: 900px) {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;

    $colors:
      1 rgb(255, 0, 0),
      2 rgb(204, 0, 0),
      3 rgb(153, 0, 0),
      4 rgb(102, 0, 0),
      5 rgb(51, 0, 0),
      6 rgb(0, 0, 0);

    @each $num, $color in $colors {
      &:nth-child(#{$num}) {
        background-color: $color;
      }
    }
  }
}
