.block {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  color: $font-color;
  font-size: 100px;

  @each $num, $color in $blocks-color {
    &:nth-child(#{$num}) {
      background-color: $color;
    }
  }


}
