.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  @media (min-width: 1200px) {
    & {
      grid-template-columns: repeat(3, minmax(300px, 1fr));
    }
  }

  &__item {
    height: 300px;
    font-size: 100px;
    display: grid;
    justify-content: center;
    align-items: center;
    color: white;

    @each $num,
      $color in $color-count {
      &--#{$num}::after {
        content: "#{$num}";
      }

      &--#{$num} {
        background-color: $color;
      }
    }
  }
}
