.container {
  display: grid;
  grid-template-columns: repeat(3, minmax($block-height, 1fr));
  grid-template-rows: repeat(2, $block-height);

  @each $index, $color in $block-bgc {
    & :nth-child(#{$index}) {
      background-color: $color;
    }
  }

  @for $num from 1 to 7 {
    & :nth-child(#{$num}) {
      @extend %block-number;
    }
  }
  /* #region @media */
  @media (max-width: 3 * $block-height - 1) {
    & {
      display: grid;
      grid-template-columns: repeat(2, minmax($block-height, 1fr));
      grid-template-rows: repeat(3, $block-height);
    }
  }

  @media (max-width: 2 * $block-height - 1) {
    & {
      display: grid;
      grid-template-columns: repeat(1, minmax($block-height, 1fr));
      grid-template-rows: repeat(6, $block-height);
    }
  }
  /* #endregion @media*/
}
