.block {
  display: flex;
  height: $size;
  color: rgb(255, 255, 255);
  justify-content: center;
  text-align: center;
  align-items: center;

  @for $i from 1 through 6 {
    $step: 50;
    $red: #{255 - $step * ($i - 1)};
    $block-color: "rgb(" + $red + ",0 ,0)";
    &--#{$i} {
      background-color: #{$block-color};
    }
  }
}
