.box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($cardMinSize, 1fr));

  &__card {
    position: relative;
    height: $cardMinSize;
    display: grid;
    align-items: center;
    justify-items: center;

    @for $index from 1 through 6 {
      &:nth-child(#{$index})::before {
        content: "#{$index}";
        position: absolute;
        color: #fff;
      }

      &:nth-child(#{$index}) {
        $redPercent: ((100% / 5) * (6 - $index));
        background-color: rgb($redPercent, 0, 0);
      }
    }

  }

  @media (min-width: 899px) {
    grid-template-columns: repeat(3, minmax($cardMinSize, 1fr));
  }
}
