.container {
  display: grid;
  grid: auto-flow / repeat(auto-fit, minmax(300px, 1fr));

  @for $idx from 0 to 6 {
    & > :nth-child(#{$idx + 1}) {
      background: rgb(255 - (51 * $idx), 0, 0);
      &::after {
        content: "#{$idx + 1}";
      }
    }
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
