@import "../utils/utils";

.main {
  display: grid;

  &__block {
    height: 300px;
    min-width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    color: white;
    display: grid;
    align-items: center;
    justify-content: center;
  }
}
