.antisnake {
  display: grid;

  @media (min-width: 450px) {
    & {
      grid-template-columns: repeat(1, auto);
    }
  }

  @media (min-width: 600px) {
    & {
      grid-template-columns: repeat(2, auto);
    }
  }

  @media (min-width: 900px) {
    & {
      grid-template-columns: repeat(3, auto);
    }
  }

  &__box {
    height: 300px;

    @for $i from 1 through 6 {

      &--#{$i} {
        background-color: rgb( 255 - (($i - 1) * 51) , 0, 0);
      }
    }
  }
}
