.antiSnake {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($element-height, 1fr));

  &__element {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $element-height;

    @each $num, $color in $colors {
      &--#{$num} {
        background-color: $color;
      }
    }
  }

}

@media (min-width: 900px) {
  .antiSnake {
    grid-template-columns: repeat(3, minmax($element-height, 1fr));
  }
}
