.antisnake {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($width, 1fr));

  &__blocks {
    display: grid;
    min-height: $height;
    justify-content: center;
    align-content: center;

    @each $color, $index in $colors {
      &:nth-child(#{$index}) {
        background-color: #{$color};
      }
    }
  }
}

@media (min-width: 1200px) {
  .antisnake {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
  }
}
