.container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat( auto-fill, minmax( 300px, 1fr));

  &__block {
    display: grid;
    height: 300px;
    min-width: 300px;
    justify-items: center;
    align-items: center;

    @each $color, $colors in $blocks {
      &--#{$color} {
        background-color: #{$colors};
      }
    }
  }
}

@media (min-width: 1200px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
