@use "../styles/utils/variables" as *;

.antisnake {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, auto));

  @media (min-width: 900px) {
    grid-template-columns: repeat(3, 1fr);
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $item-height;
    font-size: 100px;
    color: #fff;
  }

  &__item--1  {
    background-color: #f00;
  }

  &__item--2  {
    background-color: #c00;
  }
  
  &__item--3 {
    background-color: #900;
  }

  &__item--4 {
    background-color: #600;
  }

  &__item--5 {
    background-color: #300;
  }

  &__item--6 {
    background-color: #000;
  }
}
