.block {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: $blockSize;
  color: white;

  @for $index from 0 through 6 {
    &:nth-child(#{$index})::before {
      content: "#{$index}";
    }
  }

  @for $i from 1 through 6 {
    &--#{$i} {
      background-color: rgb(100% - ($i - 1) * 20%, 0%, 0%);
    }
  }
}
