.block {
  display: flex;
  height: $block-height;
  min-width: $block-height;

  justify-content: center;
  align-items: center;
  text-align: center;

  &--1 {
    background-color: red;
  }

  &--2 {
    background-color: rgb(200, 0, 0);
  }

  &--3 {
    background-color: rgb(150, 0, 0);
  }

  &--4 {
    background-color: rgb(100, 0, 0);
  }

  &--5 {
    background-color: rgb(50, 0, 0);
  }

  &--6 {
    background-color: black;
  }
}

