.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($box-width, 1fr));
  grid-template-rows: repeat(auto-fill, $box-height);
 
  @media (min-width: 1200px) {
    grid-template-columns: repeat(3, minmax($box-width, 1fr));
  }
  

  &__block {
    height: $box-height;
    text-align: center;
    line-height: $box-height;

    font-family: $font-family;
    font-size: $font-size;
    color: $font-color;

    $colors:
      "1" rgb(100%, 0, 0),
      "2" rgb(80%, 0, 0),
      "3" rgb(60%, 0, 0),
      "4" rgb(40%, 0, 0),
      "5" rgb(20%, 0, 0),
      "6" rgb(0, 0, 0);

    @each $index, $color in $colors {
      &:nth-child(#{$index}) {
        background-color: $color ;
      }
    }
  }
}
