.blocks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($min-block-width, 1fr));

  @media screen and (min-width: 900px) {
    & {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__block {
    display: grid;
    background-color: $color;
    height: $block-height;
    color: white;
    font-size: 100px;
    justify-content: center;
    align-items: center;
  }
}

@for $i from 1 through 6 {
  $percents: ($i - 1) * 20%;
  .blocks :nth-child(#{$i}) {
    background-color: mix(black, red, $percents);
  }
}
