.block1 {
  background-color: red;
}

.block2 {
  background-color: rgb(80%, 0%, 0%);
}

.block3 {
  background-color: rgb(60%, 0%, 0%);
}

.block4 {
  background-color: rgb(40%, 0%, 0%);
}

.block5 {
  background-color: rgb(20%, 0%, 0%);
}

.block6 {
  background-color: black;
}
