.blocks-box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($block-height, 1fr));
  grid-auto-rows: $block-height;

  @media (min-width: 900px) {
    grid-template-columns: repeat($num-of-blocks/2, minmax($block-height, 1fr));
  }

  &__block {
    display: grid;
    justify-content: center;
    align-content: center;

    @for $i from 1 through $num-of-blocks {
      &:nth-child(#{$i}) {
        background-color: darken(
          $block-color, ($i - 1) * 50 / ($num-of-blocks - 1)
        );
      }
    }
  }
}
