.body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  @media screen and (width: 1200px) {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
  }

  &__first {
    display: grid;
    height: $blockHeight;
    background-color: red;
    justify-content: center;
    align-items: center;
  }

  &__second {
    display: grid;
    height: $blockHeight;
    background-color: #c00;
    justify-content: center;
    align-items: center;
  }

  &__third {
    display: grid;
    height: $blockHeight;
    background-color: #900;
    justify-content: center;
    align-items: center;
  }

  &__four {
    display: grid;
    height: $blockHeight;
    background-color: #600;
    justify-content: center;
    align-items: center;
  }

  &__five {
    display: grid;
    height: $blockHeight;
    background-color: #300;
    justify-content: center;
    align-items: center;
  }

  &__six {
    display: grid;
    height: $blockHeight;
    background-color: black;
    justify-content: center;
    align-items: center;
  }
}
