.box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: $width;
  height: $width;

  @for $index from 1 through 6 {
    &:nth-child(#{$index})::before {
      content: "#{$index}";
    }
 
  }
  
  @each $name, $color in $colors {
    &--#{$name} {
      background-color: #{$color};
    }
  }
}
