.box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($min-height-width, 1fr));

  &__card {
    height: $min-height-width;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    color: $text-color;
        display: flex;
    justify-content: center;
    align-items: center;

    &--1 {
      background-color: rgb(255, 0, 0);
    }

    &--2 {
      background-color: rgb(204, 0, 0);
    }

    &--3 {
      background-color: rgb(153, 0, 0);
    }

    &--4 {
      background-color: rgb(102, 0, 0);
    }

    &--5 {
      background-color: rgb(51, 0, 0);
    }

    &--6 {
      background-color: rgb(0, 0, 0);
    }
  }
}
