.container__cell--1 {
  background-color: #fe0000;
}

.container__cell--2 {
  background-color: #cb0000;
}

.container__cell--3 {
  background-color: #980000;
}

.container__cell--4 {
  background-color: #650000;
}

.container__cell--5 {
  background-color: #300;
}

.container__cell--6 {
  background-color: #000;
}
