.snake-1 {
  background-color: #fe0000;
}

.snake-2 {
  background-color: #cb0000;
}

.snake-3 {
  background-color: #980000;
}

.snake-4 {
  background-color: #650000;
}

.snake-5 {
  background-color: #300;
}

.snake-6 {
  background-color: #000;
}
