.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  &__box-1 {
    background-color: rgb(100%, 0%, 0%);
  }

  &__box-2 {
    background-color: rgb(80%, 0%, 0%);
  }

  &__box-3 {
    background-color: rgb(60%, 0%, 0%);
  }

  &__box-4 {
    background-color: rgb(40%, 0%, 0%);
  }

  &__box-5 {
    background-color: rgb(20%, 0%, 0%);
  }

  &__box-6 {
    background-color: rgb(0%, 0%, 0%);
  }

  @media (min-width: 1200px) {
    display: grid;
    grid-template-columns: auto auto auto;
  }
}
