.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($block-cize, 1fr));

  @media (min-width: 1200px) {
    grid-template-columns: repeat(3, minmax($block-cize, 1fr));
  }

  &__block {
    line-height: $block-cize;
    min-width: $block-cize;
    text-align: center;
  }

  @each $name, $color in $colors {
    &__blocks--#{$name} {
      background-color: $color;
    }
  }
}
