.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($sizeOfBlock, 1fr));
  justify-content: center;
  align-content: end;

  @media (min-width: 900px) {
    grid-template-columns: repeat(3, minmax($sizeOfBlock, 1fr))
  }

  &__block {
    height: $sizeOfBlock;
    line-height: 300px;
    text-align: center;

    @each $orderOfColor, $color in $backgroundColors {
      &--#{$orderOfColor} {
        background-color: $color;
      }
    }
  }
}
