.container {
  margin: 0 auto;
  display: grid;
  justify-content: center;
  align-content: center;
  max-width: 1199px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: 1fr;
}
