.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  @media (max-width:751px) {
    & {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (max-width:599px) {
    & {
      grid-template-columns: 1fr;
    }
  }

  &__block {
    display: grid;
    height: 300px;
    min-width: 300px;
    color: white;
    justify-content: center;
    align-content: center;
  }
}
