.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "block__1 block__2 block__3"
    "block__4 block__5 block__6";
}

@media (max-width: 899px) {
  .container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "block__1 block__2"
      "block__3 block__4"
      "block__5 block__6";
  }
}

@media (max-width: 599px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas: "block__1"
      "block__2"
      "block__3"
      "block__4"
      "block__5"
      "block__6";
  }
}
