.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  align-items: center;

  @media (min-width: 1200px) {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
  }

  &__block {
    height: 300px;
    color: white;
    line-height: 300px;
    text-align: center;

    $background:
      1 #f00,
      2 #c00,
      3 #900,
      4 #600,
      5 #300,
      6 #000;

    @each $number, $color in $background {
      &:nth-child(#{$number}) {
        background-color: #{$color};
      }
    }
  }
}
