.contener {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($block-height, 1fr));

  @media (min-width: 900px) {
    grid-template-columns: repeat(auto-fill, minmax($block-height, 33.3%));
  }

}

.contener-block {
  height: $block-height;
  text-align: center;
  color: #fff;
  line-height: $block-height;

  @each $index, $color in $block-colors {
    &--#{$index} {
      background-color: $color;
    }
  }
}
