
.container {
  display: grid;
  grid-template-columns: repeat(3, minmax($block-size, 1fr));
  grid-template-rows: repeat(2, $block-size);

  &__block {
    display: grid;
    text-align: center;
    align-items: center;

    background-color: red;
    color: white;
    font-size: 100px;
  }

  &__block:nth-child(2) {
    background-color: rgb(204, 0, 0);
  }

  &__block:nth-child(3) {
    background-color: rgb(153, 0, 0);
  }

  &__block:nth-child(4) {
    background-color: rgb(102, 0, 0);
  }

  &__block:nth-child(5) {
    background-color: rgb(51, 0, 0);
  }

  &__block:nth-child(6) {
    background-color: rgb(0, 0, 0);
  }
}

@media (max-width: 900px) {
  .container {
    grid-template-columns: $repeat-minmax;
    grid-template-rows: repeat(3, $block-size);
  }
}

@media (max-width: 600px) {
  .container {
    grid-template-columns: $repeat-minmax;
    grid-template-rows: repeat(6, $block-size);
  }
}
