.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($block-size, 1fr));

  @media (min-width: 600px) {
    grid-template-columns: repeat(2, minmax($block-size, 1fr));
  }

  @media (min-width: 900px) {
    grid-template-columns: repeat(3, minmax($block-size, 1fr));
  }

  &__block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $block-size;
  }

  @each $num, $color in $colors {
    :nth-child(#{$num}) {
      background-color: $color;
    }
  }
}
