@import "../utils/variables";

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill,
  minmax($container-cell-minwidth, 1fr));

  @media (min-width: 1200px) {
    grid-template-columns: repeat(3, minmax($container-cell-minwidth, 1fr));
  }
}

.container__cell {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $container-cell-height;

  &--1 {
    background-color: red;
  }

  &--2 {
    background-color: #c00;
  }

  &--3 {
    background-color: #900;
  }

  &--4 {
    background-color: #600;
  }

  &--5 {
    background-color: #300;
  }

  &--6 {
    background-color: black;
  }
}
