.container {
  display: grid;

  @media (min-width: 451px) {
    & {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 900px) {
    & {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__item {
    height: 300px;

    line-height: 300px;
    text-align: center;

    @each $name, $color in $colors {
      &--red--#{$name} {
        background-color: #{$color};
      }
    }
  }
}
