.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(#{$min-block-width}, 1fr));

  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;

  @media (min-width: #{$min-block-width * $max-columns}) {
    & {
      grid-template-columns: repeat(#{$max-columns},
      minmax(#{$min-block-width}, 1fr));
    }
  }

  &__block {
    height: #{$block-height};
    display: grid;
    align-items: center;
    justify-content: center;
    color: white;

    @for $index from 1 through 6 {
      &:nth-child(#{$index})::before {
        content: "#{$index}";
      }
    }

    @each $index, $color in $colors {
      &:nth-child(#{$index}) {
        background-color: #{$color};
      }
    }
  }
}
