.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  
  &__block {
    height: 300px;
    display: grid;
    align-items: center;
    justify-content: center;
  
    &--color_red {
      background-color: red;
    }
  
    &--color_80red {
      background-color: rgb(80%, 0%, 0%);
    }
  
    &--color_60red {
      background-color: rgb(60%, 0%, 0%);
    }
  
    &--color_40red {
      background-color: rgb(40%, 0%, 0%);
    }
  
    &--color_20red {
      background-color: rgb(20%, 0%, 0%);
    }
  
    &--color_black {
      background-color: black;
    }
  }
  
  @media (min-width: 600px) and (max-width: 899px) {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }
  
  @media (max-width: 599px) {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
  }
}
