.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  width: 100%;

  &__elem {
    display: flex;
    justify-content: center;
    align-items: center;

    height: $default-sz;
  }

  @for $i from 1 through 6 {
   &__elem:nth-child(n + #{$i}){
      background-color: darken($base-color,$i * 8%)
    }
  }

  @media (min-width:900px) {
    grid-template-columns: repeat(3, minmax($default-sz, 1fr));
  }
}
