.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($block-size, 1fr));

  @media (min-width: 1200px) {
    grid-template-columns: repeat($blocks-in-row, minmax($block-size, 1fr));
  }
}
