.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: $cell-size;
    min-height: $cell-size;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    color: #fff;

    @each $cell, $color in $cells {
      &--#{$cell} {
        background-color: $color;
      }
    }

    @for $index from 1 through $cell-num {
      &:nth-child(#{$index})::before {
        content: "#{$index}";
      }
    }
  }

  @media (max-width: 899px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 599px) {
    grid-template-columns: 1fr;
  }
}
