.page {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($cell-height, 1fr));

  @media (min-width: (4 * $cell-height)) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.page__block {
  height: $cell-height;
  box-sizing: border-box;
  display: grid;
  place-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  color: #fff;

  $colors:
  '1' 100%,
  '2' 80%,
  '3' 60%,
  '4' 40%,
  '5' 20%,
  '6' 0;

  @each $index,
  $red in $colors {
    &--num--#{$index} {
      background-color: rgb($red, 0%, 0%);
    }
  }
}
