.row {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-flow: row;

  @media (min-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
