.snake {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;

  @media (min-width: 1200px) {
    grid-template-columns: repeat(3,  minmax(300px, 1fr));
  }
}
