.snake {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  font-size: 100px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;

  @media (min-width: 900px) {
    grid-template-columns: repeat(3, 1fr);
  }

  &__block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;

    @each $index, $color in $colors {
      &:nth-child(#{$index}) {
        background-color: $color;
      }
    }

    @for $i from 1 through 6 {
      &:nth-child(#{$i})::before {
        content: "#{$i}";
      }
    }
  }
}
