.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  @media (min-width: 1200px) {
    & {
      grid-template-columns: 33.33% 33.33% 33.33%;
    }
  }

  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;

    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 100px;
    color: #fff;

    @each $number, $boxColor in $color {
      &--#{$number} {
        background-color: $boxColor;
      }
    }
  }
}
