.snake {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;

  @media screen and (min-width: 451px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: 751px) {
    grid-template-columns: repeat(3, 1fr);
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    height: 300px;
    min-width: 300px;
    flex-basis: 100%;

    @for $i from 1 through 6 {
      &:nth-last-child(#{$i}) {
        background-color: hsl(360, 100%, ($i - 1) * 10%);
      }
    }
  }
}
