@for $i from 1 through 6 {
  .snake:nth-child(#{$i}) {
    background-color: rgb(120% - (20*$i), 0%, 0%);
  }

  .snake:nth-child(#{$i})::after {
    content: "#{$i}";
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 300px;
  }
}
