$size-box: 300px;

$colors:
  "1"rgb(250, 0, 0),
  "2"rgb(200, 0, 0),
  "3"rgb(150, 0, 0),
  "4"rgb(100, 0, 0),
  "5"rgb(50, 0, 0),
  "6"rgb(0, 0, 0);

@for $number from 1 through 6 {
  .container__box:nth-child(n + #{$number})::before {
    content: "#{$number}";
  }
}

@each $name, $color in $colors {
  .box-#{$name}:nth-child(n + 1) {
    background-color: $color;
  }
}
