
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-template-rows: repeat(2, 2fr);
}

@media screen and (max-width: 750px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 3fr;
  }
}

@media screen and (max-width: 450px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6fr;
  }
}
