.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  &__block {
    text-align: center;
    line-height: 300px;
    min-width: $block_side;

    @for $i from 0 through 5 {
      &:nth-child(#{$i + 1}) {
        background-color: rgb($red-color - ($step * $i), 0, 0);
      }
    }
  }

  @media(max-width: 899px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media(max-width: 599px) {
    grid-template-columns: 1fr;
  }
}
