.block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: 990px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media(max-width: 575px) {
    grid-template-columns: 1fr;
  }

  &__item {
    display: grid;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    height: 300px;
  }
}

@each $i, $color in $box-color {
  .block__item:nth-child(n + #{$i}) {
    background-color: $color;
  }
}
