.bricks {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(#{$height}, 1fr));

  @media (min-width: 1200px) {
    & {
      grid-template-columns: repeat(3, minmax(#{$height}, 1fr));
    }
  }

  &__brick {
    height: $height;
    position: relative;

    @for $index from 1 through $bricks-count {
      &:nth-child(#{$index})::before {
        content: "#{$index}";
        font-size: 100px;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        line-height: $height;
        position: absolute;
        width: 100%;
        text-align: center;
      }
    }

    @for $index from 0 through $bricks-count {
      &--#{$index + 1} {
        background-color: rgb($red - $red * ($index / 5), 0, 0);
      }
    }
  }
}
