.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, $boxHeigh);
  color: white;
  justify-content: stretch;

  &__box {
    height: $boxHeigh;
    min-width: $boxWidth;
    display: grid;
    justify-content: center;
    align-content: center;
  }

  @each $color, $step in $colorValues {
    .container__box:nth-child(#{$step}) {
      background-color: $color;
    }
  }
}

@media (max-width:899px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, $boxHeigh);
  }
}

@media (max-width:599px) {
  .container {
    grid-template-columns: auto;
    grid-template-rows: repeat(6, $boxHeigh);
  }
}
