.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 
  minmax(#{$container-div-width}, 1fr));
  @media (min-width: 1200px) {
    grid-template-columns: repeat(3, minmax(#{$container-div-width}, 1fr));
  }
  & > div {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    text-align: center;
    line-height: #{$container-div-width};
    color: white;
  }
  &__first-div {
    background-color: rgb(255, 0, 0);
  }
  &__second-div {
    background-color: rgb(204, 0, 0);
  }
  &__third-div {
    background-color: rgb(153, 0, 0);
  }
  &__fourth-div {
    background-color: rgb(102, 0, 0);
  }
  &__fifth-div {
    background-color: rgb(51, 0, 0);
  }
  &__sixth-div {
    background-color: rgb(0, 0, 0);
  }
}
