.container {
  --countBox: auto-fill;
  display: grid;
  grid-template-columns: repeat(var(--countBox), minmax(300px, 1fr));

  @media screen and (min-width: 900px) {
    --countBox: 3;
  }

  &__item {
    display: grid;
    justify-content: center;
    align-items: center;
    
    height: 300px;
    min-width: 300px;

    background-color: red;
  }
}
