.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  @media (min-width: 900px) {
    & {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &__iten {
    display: grid;
    height: $iten-size;
    justify-content: center;
    align-content: center;
    font-size: 100px;

    color: white;
  }
}
