$snake-width: 300px;
$screen-medium: 600px;
$screen-large: 900px;


.container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(1, minmax($snake-width, 1fr));

  &__block {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 300px;
    min-width: $snake-width;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;

    color: rgb(255, 255, 255);

    &--1 {
      background-color: #f00;
    }

    &--2 {
      background-color: rgb(204, 0, 0);
    }

    &--3 {
      background-color: rgb(153, 0, 0);
    }

    &--4 {
      background-color: rgb(102, 0, 0);
    }

    &--5 {
      background-color: rgb(51, 0, 0);
    }

    &--6 {
      background-color: rgb(0, 0, 0);
    }
  }
}

@media (min-width: $screen-medium) {
  .container {
    grid-template-columns: repeat(2, minmax($snake-width, 1fr));
  }
}

@media (min-width: $screen-large) {
  .container {
    grid-template-columns: repeat(3, minmax($snake-width, 1fr));
  }
}
