@import "colors";

body {
  margin: 0;
  display: block;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  &__block {
    display: grid;
    font-family: Arial, sans-serif;
    font-size: 100px;
    color: white;
    height: 300px;
    place-items: center;
  }
}
