.grid {
  display: grid;
  justify-content: center;
  align-content: center;

  &__block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;

    font-size: 100px;
    font-family: inherit;

    background-color: red;
    color: #fff;

    &--2 {
      background-color: #d00404;
    }

    &--3 {
      background-color: #a00404;
    }

    &--4 {
      background-color: #680404;
    }

    &--5 {
      background-color: #380404;
    }

    &--6 {
      background-color: #080404;
    }
  }

  @media (min-width: 300px) {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
  }

  @media (min-width: 600px) {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }
  @media (min-width: 900px) {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
  }

}
