.items {
  --column-count: auto-fill;
  display: grid;
  grid-template-columns: repeat(var(--column-count), minmax(300px, 1fr));

  &__item {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 300px;
    min-width: 300px;
    font-size: 100px;
    color: #fff;
  }

  @media (min-width:900px) {
    --column-count: 3;
  }
  
}

@for $i from 1 through 6 {
  .items__item:nth-child(#{$i}) {
    background-color: darken(red, ($i - 1) * 10%);
  }
}
