$snake-part-size: 300px;

.snake-page {
  margin: 0;
  font-size: 100px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

.snake-page__snake {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(auto-fill, minmax($snake-part-size, 1fr));
}

.snake__part {
  height: $snake-part-size;
  display: grid;
  justify-items: center;
  align-items: center;
}

@for $index from 1 through 6 {
  .snake__part:nth-child(#{$index}) {
    background-color: rgb((306 - 51 * $index), 0, 0);
  }
}
