$colors:
  "1" red,
  "2" #c00,
  "3" #900,
  "4" #600,
  "5" #290000,
  "6" #000;

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  color: white;
}

* {
  box-sizing: border-box;
}

.snake {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-flow: row;

  &__block {
    grid-auto-rows: 300px;

    @each $color, $value in $colors {
      &--#{$color} {
        background-color: $value;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 300px;
      }
    }
    @media (min-width: 900px) {
      &--4 {
        grid-column: 1;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      }
    }
  }
}
