$height: 300px;

body {
  margin: 0;
}

.box {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  .box__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: $height;
    min-width: $height;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    color: aliceblue;
    text-align: center;
  }
     
  .box__item--red {
    border: 1px rgb(255, 0, 0);
    background-color: rgb(255, 0, 0);
  }

  .box__item--cherry {
    border: 1px rgb(187, 4, 4);
    background-color: rgb(187, 4, 4);
  }
  
  .box__item--darkcherry {
    border: 1px rgb(132, 2, 2);
    background-color: rgb(132, 2, 2);
  }

  .box__item--brown {
    border: 1px rgb(93, 2, 2);
    background-color: rgb(93, 2, 2);
  }
  .box__item--darkbrown {
    border: 1px rgbrgb(46, 1, 1);
    background-color: rgb(46, 1, 1);
  }

  .box__item--black {
    border: 1px rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
  }

  @media (max-width: 850px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 550px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
