body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  align-content: center;

  .block {
    display: grid;
    justify-items: center;
    align-items: center;
    min-width: 300px;
    min-height: 300px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    color: aliceblue;

    &--1 {
      background-color: red;
    }
    
    &--2 {
      background-color: hsl(0, 100%, 40%);
    }
    
    &--3 {
      background-color: hsl(0, 100%, 30%);
    }
    
    &--4 {
      background-color: hsl(0, 100%, 20%);
    }
    
    &--5 {
      background-color: hsl(0, 100%, 10%);
    }
    
    &--6 {
      background-color: black;
    }
  }
}

@media (min-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
  }

  .block--3 {
    order: 1;
  }
  .block--4 {
    order: 1;
  }
  .block--5 {
    order: 1;
  }
  .block--6 {
    order: 1;
  }
}

@media (min-width: 900px) {
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
  }
  .block--3 {
    order: 2;
  }
  .block--6 {
    order: 2;
  }
  .block--5 {
    order: 2;
  }
  .block--4 {
    order: 2;
  }
}

@media (min-width: 1200px) {
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
  }
}
