html {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.box {
  display: grid;
  min-width: 300px;
  height: 300px;
  color: white;
  font-size: 100px;
  justify-content: center;
  align-items: center;
}

@for $i from 1 through 6 {
  .box:nth-child(#{$i}) {
    background: rgb(306-($i*51), 0, 0);
  }
}

@media screen and (max-width: 899px) {

  .boxes {
    grid-template-columns: 1fr 1fr;
  }

}

@media screen and (max-width: 599px) {

  .boxes {
    grid-template-columns: 1fr;
  }

}
