@import "./normalize";
@import "./blocks/container.scss";

.block--1 {
  background-color: #f00;
}

.block--2 {
  background-color: #c00;
}

.block--3 {
  background-color: #900;
}

.block--4 {
  background-color: #600;
}

.block--5 {
  background-color: #300;
}

.block--6 {
  background-color: #000;
}
