body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  color: white;
  max-width: 1199px;
  display: grid;
  grid-template-columns: 1fr;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  min-width: 300px;
}

.first {
  background-color: #f00;
}

.second {
  background-color: #c00;
}

.third {
  background-color: #900;
}

.fourth {
  background-color: #600;
}

.fifth {
  background-color: #300;
}

.sixth {
  background-color: #000;
}

@media (min-width: 600px) {
  body {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  body {
    grid-template-columns: repeat(3, 1fr);
  }
}
