body {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

@media screen and (min-width: 1200px) {
  .container {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
  }
}

.block {
  display: grid;
  height: 300px;
  min-width: 300px;
  color: #fff;
  background-color: red;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container > :nth-child(2) {
  background-color: #c00;
}

.container > :nth-child(3) {
  background-color: #900;
}

.container > :nth-child(4) {
  background-color: #600;
}

.container > :nth-child(5) {
  background-color: #300;
}

.container > :nth-child(6) {
  background-color: #000;
}
