* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.block {
  display: flex;
  height: 300px;
  font-size: 100px;
  background: rgb(255, 0, 0);
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.block--2 {
  background: rgb(204, 0, 0);
}

.block--3 {
  background-color: rgb(153, 0, 0);
}

.block--4 {
  background-color: rgb(102, 0, 0);
}

.block--5 {
  background-color: rgb(51, 0, 0);
}

.block--6 {
  background-color: rgb(0, 0, 0);
}

@media (min-width: 1200px) {
  .container {
    grid-template-columns: repeat(3, 33.33%);
  }
}
