@import "./reset.css";
@import "./normalize.css";
@import "./variables.scss";

.snake {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($sizeBox, 1fr));
  justify-content: center;
  grid-auto-flow: row;

  @media (min-width: 900px) {
    & {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $sizeBox;

    @each $num, $color in $list {
      &--#{$num} {
        background-color: rgb($color, 0, 0);
      }
    }
  }
}
