body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 100px;
  color: #fff;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

}

.container__block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  text-align: center;
  min-width: 300px;
  height: 300px;
}

/*colors*/

.block--1 {
  background-color: red;
}

.container__block--2 {
  background-color: rgb(205, 0, 0);
}

.container__block--3 {
  background-color: rgb(153, 0, 0);
}

.container__block--4 {
  background-color: rgb(102, 0, 0);
}

.container__block--5 {
  background-color: rgb(51, 0, 0);
}

.container__block--6 {
  background-color: black;
}

/*media*/

@media (min-width: 900px) {

  .container {
    grid-template-columns: repeat(3, auto);
  }

}
