body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 100px;
  color: #fff;
}

.blocks {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  &__block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    &-1 {
      background-color: #f00;
    }
    &-2 {
      background-color: #c00;
    }
    &-3 {
      background-color: #900;
    }
    &-4 {
      background-color: #600;
    }
    &-5 {
      background-color: #300;
    }
    &-6 {
      background-color: #000;
    }
  }

  @media (min-width: 900px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
