@import url('./block.scss');

body {
  margin: 0;
}

.container{
  display: grid;

  @media (min-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
 }

  @media (min-width: 900px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
