body {
  margin: 0;
}

.container {
  display: grid;
  font-family: Arial, sans-serif;
  font-size: 100px;
  color: white;
  grid: auto-flow / repeat(auto-fit, minmax(300px, 1fr));
  text-align: center;
}

.block {
  display: grid;
  height: 300px;
  min-width: 300px;
}

.block:nth-child(1) {
  background-color: red;
}

.block:nth-child(2) {
  background-color: #c00;
}

.block:nth-child(3) {
  background-color: #900;
}

.block:nth-child(4) {
  background-color: #600;
}

.block:nth-child(5) {
  background-color: #300;
}

.block:nth-child(6) {
  background-color: black;
}

@media (min-width: 1200px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}
