body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
}

.container {
  display: grid;
  grid-template-columns: repeat(autofill, minmax (300px, 1fr));
  justify-content: center;

  @media all and (min-width: 300px) {
    grid-template-columns: repeat(1, 1fr);
  }

  @media all and (min-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media all and (min-width: 900px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.block {
  height: 300px;
  width: 100%;
  min-width: 300px;
  font-family: inherit;
  text-align: center;
  line-height: 300px;
  background-color: red;
  color: #fff;
}

.block--2 {
  background-color: hsl(0, 100%, 40%);
}

.block--3 {
  background-color: hsl(0, 100%, 30%);
}

.block--4 {
  background-color: hsl(0, 100%, 20%);
}

.block--5 {
  background-color: hsl(0, 100%, 10%);
}

.block--6 {
  background-color: black;
}
