.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.container__block {
  height: 300px;
  text-align: center;
  line-height: 300px;
}

.container__block--1 {
  background-color: rgb(255, 0, 0);
}

.container__block--2 {
  background-color: rgb(204, 0, 0);
}

.container__block--3 {
  background-color: rgb(153, 0, 0);
}

.container__block--4 {
  background-color: rgb(102, 0, 0);
}

.container__block--5 {
  background-color: rgb(51, 0, 0);
}

.container__block--6 {
  background-color: rgb(0, 0, 0);
}

@media (min-width: 1200px) {
  .container {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
  }
}

body {
  margin: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #eee;
  font-size: 100px;
}
