html {
  font-family: Arial, sans-serif;
  font-size: 100px;
  font-weight: 300;
  color: #fff;
}

body {
  margin: 0;
}

.box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  &__snake {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 300px;
    color: #fff;
  }

  &__snakes--1 {
    background-color: red;
  }

  &__snakes--2 {
    background-color: rgb(80%, 0%, 0%);
  }

  &__snakes--3 {
    background-color: rgb(60%, 0%, 0%);
  }

  &__snakes--4 {
    background-color: rgb(40%, 0%, 0%);
  }

  &__snakes--5 {
    background-color: rgb(20%, 0%, 0%);
  }

  &__snakes-6 {
    background-color: #000;
  }
}

@media (min-width: 1200px) {
  .box {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
  }
}
