$cell-size: 300px;

body {
  margin: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 100px;
  color: #fff;;
}


.snake {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($cell-size, 1fr));

  &__cell {
    height: $cell-size;
    display: flex;
    justify-content: center;
    align-items: center;

    @for $cell-id from 1 through 6 {
      &--#{$cell-id} {
        background-color: rgb(100% * (( 6 - $cell-id) / 5), 0%, 0%);

        &::before {
          content: "#{$cell-id}";
        }
      }
    }
  }
}
