$boxHeight: 300px;

body {
  margin: 0;
}

.boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($boxHeight, 1fr));

  @media (min-width: 1200px) {
    grid-template-columns: repeat(3, 33.33%);
  }

  &__box {
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;
    height: $boxHeight;

    @for $i from 1 through 6 {
      &:nth-child(#{$i}) {
        background-color: hsl(0, 100%, 60% - 10% * $i);
      }

      &:nth-child(#{$i}):after {
        content: "#{$i}";
        display: grid;
        font-family: Arial, sans-serif;
        font-size: 100px;
        color: #fff;
      }
    }
  }
}
