$block-size: 300px;

body {
  margin: 0;
}

.blocks {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);

  &__block {
    height: $block-size;
    min-width: $block-size;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    color: #fff;
    text-align: center;
    line-height: $block-size;
  }

  &__block:first-child {
    background-color: #f00;
  }

  &__block:nth-child(2) {
    background-color: #c00;
  }

  &__block:nth-child(3) {
    background-color: #900;
  }

  &__block:nth-child(4) {
    background-color: #600;
  }

  &__block:nth-child(5) {
    background-color: #300;
  }

  &__block:nth-child(6) {
    background-color: #000;
  }
}

@media (min-width: 300px) {
  .blocks {
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 1fr;
  }
}

@media (min-width: 600px) {
  .blocks {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .blocks {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }
}
