body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 100px;
}

.snake {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  @media (min-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }
  
  &__block {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 300px;

    &--1 {
      background-color: #f00;
    }
  
    &--2 {
      background-color: #c00;
    }
  
    &--3 {
      background-color: #900;
    }
  
    &--4 {
      background-color: #600;
    }
  
    &--5 {
      background-color: #300;
    }
  
    &--6 {
      background-color: #000;
    }
  }
}







