$box-size: 300px;
$main-font-family: arial, sans-serif;
$main-font-size: 100px;
$color-text: #fff;
$bg-color-box: (
  1: #f00,
  2: #c00,
  3: #900,
  4: #600,
  5: #300,
  6: #000
);

body {
  margin: 0;
  font-family: $main-font-family;
  font-size: $main-font-size;
}

.snake {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: 750px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media(max-width: 450px) {
    grid-template-columns: 1fr;
  }

}

.snake__item {
  display: grid;
  justify-content: center;
  align-items: center;
  height: $box-size;
  color: $color-text;
}

@each $i, $color in $bg-color-box {
  .snake__item:nth-child(n + #{$i}) {
    background-color: $color;
  }
}
