$colors:
  rgb(100%, 0%, 0%) 1,
  rgb(80%, 0%, 0%) 2,
  rgb(60%, 0%, 0%) 3,
  rgb(40%, 0%, 0%) 4,
  rgb(20%, 0%, 0%) 5,
  rgb(0%, 0%, 0%) 6;

.body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  color: #fff;
  margin: 0;
}

.antisnake {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fill, 300px);
  grid-auto-flow: row;

  @media (min-width: 900px) {
    & {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__ceil {
    display: grid;
    justify-items: center;
    align-items: center;

    height: 300px;
    min-width: 300px;
  }

  @each $color, $index in $colors {
    &__ceil:nth-child(#{$index}) {
      background-color: #{$color};
    }
  }

  @for $number from 1 to 7 {
    &__ceil:nth-child(#{$number})::before {
      content: "#{$number}";
    }
  }
}
