body {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  &__block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    text-align: center;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

    &--1 {
      background-color: red;
    }
    
    &--2 {
      background-color: rgb(204,0,0);
    }
    
    &--3 {
      background-color: rgb(153,0,0);
    }
    
    &--4 {
      background-color: rgb(102,0,0);
    }
    
    &--5 {
      background-color: rgb(51,0,0);
    }
    
    &--6 {
      background-color: black;
    }
  }

  @media (min-width: 1200px) {
    & {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
