$colors :
  "1" #f00,
  "2" #cc0200,
  "3" #990001,
  "4" #600,
  "5" #330100,
  "6" #000;

body {
  margin: 0;
  color: white;
  font-size: 100px;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: minmax(300px,1fr)
    minmax(300px,1fr)
    minmax(300px,1fr);
  grid-template-rows: 2;

  @media (min-width: 300px) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }

  @media (min-width: 750px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
  }

  @media (min-width: 900px) {
    grid-template-columns: minmax(300px,1fr)
      minmax(300px,1fr)
      minmax(300px,1fr);
    grid-template-rows: 2;
  }

  .block {
    display: flex;
    height: 300px;
    min-width: 300px;
    justify-content: center;
    align-items: center;

    @each $name, $color in $colors {
      &--#{$name} {
        background-color: $color;
      }
    }
  }
}
