* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  color: rgb(100%, 100%, 100%);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  &__block {
    height: 300px;
    min-width: 300px;
    display: grid;
    justify-content: center;
    align-items: center;
  }

  &__one {
    background-color: rgb(100%, 0%, 0%);
  }

  &__two {
    background-color: rgb(80%, 0%, 0%);
  }

  &__three {
    background-color: rgb(60%, 0%, 0%);
  }

  &__four {
    background-color: rgb(40%, 0%, 0%);
  }

  &__five {
    background-color: rgb(20%, 0%, 0%);
  }

  &__six {
    background-color: rgb(0%, 0%, 0%);
  }
}

@media (max-width: 899px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 599px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
