$colors:
  "1" rgb(255, 0, 0),
  "2" rgb(204, 0, 0),
  "3" rgb(153, 0, 0),
  "4" rgb(102, 0, 0),
  "5" rgb(51, 0, 0),
  "6" rgb(0, 0, 0);

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  color: white;
}

.block-container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  @media (min-width: 900px) {
    grid-template-columns: repeat(3, 1fr);
  }

  &__block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;

    @each $index, $color in $colors {
      &--#{$index} {
        background-color: $color;
      }
    }
  }
}
