@import "./utils/variables";
@import "./utils/mixins";

@import "./blocks/snake.scss";

* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
}

body {
  margin: 0;
}

h1 {
  position: absolute;
  top: -100px;
  left: -100px;
  visibility: hidden;
}
