$white-color: white;

body {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat((3), 1fr );
  justify-items: stretch;
  &__item {
    height: 300px;
    font-size: 100px;
    font-family: Arial;
    color: $white-color;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@for $i from 1 through 6 {
  .container__item:nth-child(#{$i}) {
    background: rgb((255 - 51*($i - 1)), 0, 0);
    &::after {
      content: "#{$i}";
    }
  }
}

@media screen and (max-width: 599px) {
  .container {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 899px) and (min-width: 600px) {
  .container {
    grid-template-columns: repeat((2), 1fr );
  }
}
