* {
  margin: 0;
  box-sizing: border-box;
}

.snake {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  @media (min-width: 900px) {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
  }
  &__block {
    min-height: 300px;
    display: grid;
    align-items: center;
    justify-items: center;
    font-family: Arial, sans-serif, italic;
    font-size: 100px;
    color: white;
    &:nth-child(1) {
      background-color: red;
    }
    &:nth-child(2) {
      background-color: rgb(204,0,0);
    }
    &:nth-child(3) {
      background-color: rgb(153,0,0);
    }
    &:nth-child(4) {
      background-color: rgb(102,0,0);
    }
    &:nth-child(5) {
      background-color: rgb(51,0,0);
    }
    &:nth-child(6) {
      background-color: rgb(0,0,0);
    }
  }
}
