body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  @media (min-width: 900px) {
    & {
      grid-template-columns: repeat(3, minmax(300px, 1fr));
    }
  }

}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  font-size: 100px;
  color: #fff;
}

.box--1 {
  background: #f00;
}

.box--2 {
  background: #c00;
}

.box--3 {
  background: #900;
}

.box--4 {
  background: #600;
}

.box--5 {
  background: #300;
}

.box--6 {
  background: #000;
}

