body {
  margin: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

@media (min-width: 1200px) {
  .wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.block {
  display: grid;
  justify-items: center;
  align-items: center;
  height: 300px;
  color: white;
  font-size: 100px;

  &--1 {
    background: #f00;
  }

  &--2 {
    background: #c00;
  }

  &--3 {
    background: #900;
  }

  &--4 {
    background: #600;
  }

  &--5 {
    background: #300;
  }

  &--6 {
    background: #000;
  }
}
