body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  color: white;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  .box {
    height: 300px;
    min-width: 300px;
    background-color: green;
    text-align: center;
    line-height: 300px;

    $colors:
      1 rgb(100%, 0%, 0%),
      2 rgb(80%, 0%, 0%),
      3 rgb(60%, 0%, 0%),
      4 rgb(40%, 0%, 0%),
      5 rgb(20%, 0%, 0%),
      6 rgb(0%, 0%, 0%);

    @each $index, $color in $colors {
      &:nth-child(#{$index}) {
        background-color: #{$color};
      }
    }

    @media (min-width: 300px) {
      .container {
        grid-template-columns: repeat(1, 1fr);
      }
    }

    @media (min-width: 600px) {
      .container {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    @media (min-width: 900px) {
      .container {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}
