
body {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

}

.container > div {
  height: 300px;
  justify-content: center;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 100px;
  line-height: 300px;
  color: white;
}

.container > div:nth-of-type(1) {
  background-color: rgb(255, 0, 0);
}

.container > div:nth-of-type(2) {
  background-color: rgb(204, 0, 0);
}

.container > div:nth-of-type(3) {
  background-color: rgb(153, 0, 0);
}

.container > div:nth-of-type(4) {
  background-color: rgb(102, 0, 0);
}

.container > div:nth-of-type(5) {
  background-color: rgb(51, 0, 0);
}

.container > div:nth-of-type(6) {
  background-color: rgb(0, 0, 0);
}

@media (min-width: 1200px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}
