body {
  margin: 0;
}

.snake {
  display: grid;
  grid-template: repeat(6, 300px) / 1fr;

  &__part {
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
  }

  @for $i from 1 through 7 {
    &__part:nth-child(#{$i}) {
      background-color: hsl(0, 100%, (6 - $i) * 10%);
    }
  }
  
  &__num {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
  }
}

@media screen and (min-width: 600px) {
  .snake {
    grid-template: repeat(3, 300px) / 1fr 1fr;
  }
}

@media screen and (min-width: 900px) {
  .snake {
    grid-template: repeat(2, 300px) / 1fr 1fr 1fr;
  }
}
