body {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 100px;
  box-sizing: border-box;
}

.box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.box__item {
  height: 300px;
  min-width: 300px;
  display: grid;
  justify-content: center;
  align-items: center;
}

@media (max-width: 900px) {
  .box {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .box {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 300px) {
  .box {
    grid-template-columns: 1fr;
  }
}

.box__item--1 {
  background-color: #f00;
}

.box__item--2 {
  background-color: #d50000;
}

.box__item--3 {
  background-color: #950000;
}

.box__item--4 {
  background-color: #5c0000;
}

.box__item--5 {
  background-color: #240000;
}

.box__item--6 {
  background-color: #000;
}
