$block-size: 300px;
$blocks-colors:
  "1" rgb(255, 0, 0),
  "2" rgb(204, 0, 0),
  "3" rgb(153, 0, 0),
  "4" rgb(102, 0, 0),
  "5" rgb(51, 0, 0),
  "6" rgb(0, 0, 0);

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(#{$block-size}, 1fr));

  @media (min-width: 1200px) {
    grid-template-columns: repeat(3, minmax(#{$block-size}, 1fr));
  }

  &__item {
    height: $block-size;
    font-size: $block-size / 3;
    color: #fff;

    @for $index from 1 to 7 {
      &:nth-child(#{$index})::before {
        content: "#{$index}";
      }
    }

    @each $number, $color in $blocks-colors {
      &:nth-child(#{$number}) {
        background-color: $color;
      }
    }
  }
}

.card {
  display: grid;
  justify-content: center;
  align-items: center;
}
