@media screen and (max-width: 899px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 599px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
  }
}
