@media (max-width: 899px) {
  .container {
    display: grid;
    grid-template-areas: "items_one items_two"
      "items_three items_four"
      "items_five items_six";
  }
}

@media (max-width: 599px) {
  .container {
    display: grid;
    grid-template-areas: "items_one"
      "items_two"
      "items_three"
      "items_four"
      "items_five"
      "items_six";
  }
}
