.snake {
  display: grid;
  grid-template-columns: repeat(1, 1fr);

  @media (min-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 900px) {
    grid-template-columns: repeat(3, 1fr);
  }

  &_case {
    height: $height;
    min-width: $height;
    color: rgb(255, 255, 255);
    font-size: 100px;

    display: grid;
    justify-content: center;
    align-content: center;
  }

  &_case--1 {
    background-color: rgb(255, 0, 0);
  }

  &_case--2 {
    background-color: rgb(204, 0, 0);
  }

  &_case--3 {
    background-color: rgb(153, 0, 0);
  }

  &_case--4 {
    background-color: rgb(102, 0, 0);
  }

  &_case--5 {
    background-color: rgb(51, 0, 0);
  }

  &_case--6 {
    background-color: rgb(0, 0, 0);
  }
}
