.snake {
  display: grid;
  font-size: 100px;
  color: white;

  @media screen and (min-width: 600px) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-width: 900px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  &__part {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 300px;
    min-width: 300px;

    &:first-child {
      background-color: #f00;
    }

    &:nth-child(2) {
      background-color: #c00;
    }

    &:nth-child(3) {
      background-color: #900;
    }

    &:nth-child(4) {
      background-color: #600;
    }

    &:nth-child(5) {
      background-color: #300;
    }

    &:last-child {
      background-color: #000;
    }
  }
}
