.one {
  background-color: $color-one;
}

.two {
  background-color: $color-two;
}

.three {
  background-color: $color-three;
}

.four {
  background-color: $color-four;
}

.five {
  background-color: $color-five;
}

.six {
  background-color: $color-six;
}
