.box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  font-size: 100px;
  color: #fff;

  @media (min-width: 900px) {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
  }

  &__item {
    display: grid;
    height: 300px;
    align-items: center;
    justify-content: center;

    @each $key, $color in $colors {
      &--color-#{$key} {
        background-color: $color;
      }
    }
  }
}
