.wrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($box-size, 1fr));
  &__box {
    height: $box-size;
    min-width: $box-size;
    text-align: center;
    line-height: $box-size;
    color: $text-color;
    font-size: $text-size;
  }
}

.wrap-container {
  margin: 0 auto;
  max-width: $box-size * 4 - 1;
}
