.snake {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($snake-part, 1fr));
  @include MinWidth-screen(1200px) {
    grid-template-columns: repeat(3, 1fr);
  }

  &__skin {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    height: $snake-part;
    @include background-color;
  }
}
