.block--1 {
  background-color: rgba(255,0,0,255);
}

.block--2 {
  background-color: rgba(204,0,0,255);
}

.block--3 {
  background-color: rgba(153,0,0,255);
}

.block--4 {
  background-color: rgba(102,0,0,255);
}

.block--5 {
  background-color: rgba(51,0,0,255);
}

.block--6 {
  background-color: rgba(0,0,0,255);
}
