
.container__block {
  color: rgb(100%, 100%, 100%);
}

.b1 {
  background-color: rgb(100%, 0%, 0%);
}

.b2 {
  background-color: rgb(80%, 0%, 0%);
}

.b3 {
  background-color: rgb(60%, 0%, 0%);
}

.b4 {
  background-color: rgb(40%, 0%, 0%);
}

.b5 {
  background-color: rgb(20%, 0%, 0%);
}

.b6 {
  background-color: rgb(0%, 0%, 0%);
}
