@for $index from 1 through $block-count {
  .snake__block:nth-child(#{$index})::before {
    content: "#{$index}";
    margin: auto;
  }
}

@for $index from 1 through $block-count {
  .snake__block:nth-child(#{$index}) {
    background-color: rgb(calc(306 - #{$grad-diff} * #{$index}), 0, 0);
  }
}
