@mixin background-color {
  @for $count from 0 through 5 {
    &:nth-child(#{$count + 1}) {
      background-color: getColor($count);
    }
  }
}

@mixin font-set($font, $fontSize) {
  font-family: $font, Helvetica, sans-serif;
  font-size: $fontSize;
}

@mixin MinWidth-screen($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}
