$block-height : 300px;
$first-color: rgba(255, 0, 0, 1);
$second-color: rgba(204, 0, 0, 1);
$third-color: rgba(153, 0, 0, 1);
$fourth-color: rgba(102, 0, 0, 1);
$fifth-color: rgba(51, 0, 0, 1);
$sixth-color: rgba(0, 0, 0, 1);
