// size
$size-blocks: 300px;

// colors
$color-1:  rgb(100%, 0%, 0%);
$color-2:  rgb(80%, 0%, 0%);
$color-3:  rgb(60%, 0%, 0%);
$color-4:  rgb(40%, 0%, 0%);
$color-5:  rgb(20%, 0%, 0%);
$color-6:  rgb(0, 0, 0);
