@media (min-width: 600px) and (max-width: 899px) {
  .container {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }
}

@media (max-width: 599px) {
  .container {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
  }
}
