.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  .container__block {
    display: grid;
    justify-content: center;
    align-items: center;
    font: 100px Arial;
    height: 300px;
    color: #fff;
  }
}

@media (min-width: 1200px) {
  .container {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}
