.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 300px);
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
}

@for $index from 0 through 5 {
  .section--#{$index} {
    background-color: rgb($color - $index * 20, 0, 0);
  }
}

@media (max-width: 899px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 300px);
  }
}

@media (max-width: 599px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 300px);
  }
  .section {
    min-width: 300px;
  }
}
