@import "../utils/variables";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  @each $index, $color in $colors {
    &__box_#{$index} {
      background-color: $color;
    }
  }
  @media (min-width: 900px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.block {
  font-size: 100px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  height: 300px;
  display: grid;
  justify-content: center;
  align-content: center;
}
