.container {
  display: grid;
  grid-template-rows: repeat(auto-fill, $item-size);
  grid-template-columns: repeat(auto-fill, minmax($item-size, 1fr));
  justify-content: center;

  @media (min-width: #{3 * $item-size}) {
    grid-template-columns: repeat(3, minmax($item-size, 1fr));
  }
}

.block {
  display: grid;
  justify-content: center;
  align-items: center;
  height: $item-size;

  &--1 {
    background-color: red;
  }

  &--2 {
    background-color: #c00;
  }

  &--3 {
    background-color: #900;
  }

  &--4 {
    background-color: #600;
  }

  &--5 {
    background-color: #300;
  }

  &--6 {
    background-color: black;
  }

}
