.block {
  display: grid;
  height: 300px;
  color: #fff;
  justify-content: center;
  align-items: center;

  &__styles--1 {
    background-color: red;
  }

  &__styles--2 {
    background-color: #c00;
  }

  &__styles--3 {
    background-color: #900 ;
  }

  &__styles--4 {
    background-color: #600;
  }

  &__styles--5 {
    background-color: #300;
  }

  &__styles--6 {
    background-color: #000;
  }
}
