.box {
  display: grid;
  text-align: center;
  align-items: center;
  height: $size;

  &--1 {
    background-color: #f00;
  }

  &--2 {
    background-color: #c00;
  }

  &--3 {
    background-color: #900;
  }

  &--4 {
    background-color: #600;
  }

  &--5 {
    background-color: #300;
  }

  &--6 {
    background-color: #000;
  }
}
