.box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: 900px) {
    & {
      grid-template-columns: repeat(auto-fill, minmax($min-width-cell, 1fr));
    }
  }
  @for $step from 1 through $count-cell {
    & :nth-child(#{$step}) {
      background-color: rgb(color-rate($step), 0, 0);
    }
  }

  &__cell {
    line-height: #{$heigh-cell};
    text-align: center;
    color: #fff;

    @for $index from 1 through $count-cell {
      &:nth-child(#{$index})::before {
        content: "#{$index}";
      }
    }
  }
}
