.box {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(1, minmax($min-width-cell, 1fr));

  @media (min-width: 600px) {
    & {
      grid-template-columns: repeat(2, minmax($min-width-cell, 1fr));
    }
  }

  @media (min-width: 900px) {
    & {
      grid-template-columns: repeat(3, minmax($min-width-cell, 1fr));
    }
  }

  @each $index,  $color in $cell-color {
    & :nth-child(#{$index}) {
      background-color: #{$color};
    }
  }

  &__cell {
    line-height: #{$heigh-cell};
    text-align: center;
    color: #fff;

    @for $index from 1 through 6 {
      &:nth-child(#{$index})::before {
        content: "#{$index}";
      }
    }
  }
}
