.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-content: center;

  &__block {
    height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: white;

    $block-color:
      "1" hsl(0, 100%, 50%),
      "2" hsl(0, 100%, 40%),
      "3" hsl(0, 100%, 30%),
      "4" hsl(0, 100%, 20%),
      "5" hsl(0, 100%, 10%),
      "6" hsl(0, 100%, 0);

    @each $number, $color in $block-color {
      &--color--#{$number} {
        background-color: $color;
      }
    }
  }
}
