.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: 899px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 599px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
