.snake {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  &__block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;

    color: white;
    font-size: 100px;
  }

  &__block--1 {
    background-color: #f00;
  }

  &__block--2 {
    background-color: #c00;
  }

  &__block--3 {
    background-color: #900;
  }

  &__block--4 {
    background-color: #600;
  }

  &__block--5 {
    background-color: #300;
  }

  &__block--6 {
    background-color: #000;
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
  }
}
