.antisnake {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;

  @media (min-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 900px) {
    grid-template-columns: repeat(3, 1fr);
  }

  &__block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 0;

    height: $block-height;

    @for $i from 1 through 6 {
      &:nth-child(#{$i})::before {
        content: "#{$i}";
      }
    }

    @each $i, $color in $colors {
      &:nth-child(#{$i}) {
        background-color: $color;
      }
    }
  }

}
