.container {
  display: grid;
  justify-content: center;
  min-width: $block-height;
  grid-template-rows: repeat(auto-fill, 1fr);
  
  @media (min-width:300px) {
    grid-template-columns: repeat(1, 1fr);
  }

  @media (min-width:600px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width:900px) {
    grid-template-columns: repeat(3, 1fr);
  }

  &__block {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: $block-height;
    height: $block-height;
    color: #fff;
    font-size: 100px;

    @for $index from 1 through 6 {
      &:nth-child(#{$index})::before {
        content: "#{$index}";
      }
    }

    @each $name, $color in $colors {
      &--color--#{$name} {
        background-color: #{$color};
      }
    }
  }
}
