$opasity:
  "1",
  "2" rgba(0, 0, 0, 0.2),
  "3" rgba(0, 0, 0, 0.4),
  "4" rgba(0, 0, 0, 0.6),
  "5" rgba(0, 0, 0, 0.8),
  "6" rgba(0, 0, 0, 1);

%each-for {
  @each $num, $rgba in $opasity {
    &:nth-child(#{$num}) {
      background: #{$rgba};
      &::after {
        content: "#{$num}";
      }
    }
  }
}
