.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  text-align: center;

  @media (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  &__square {
    height: 300px;
    line-height: 300px;
    @extend %large-text;

    @each $name, $color in $colors {
      &--#{$name} {
        background-color: $color;
      }
    }
  }
}
