.block {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__1 {
    background-color: #f00;
  }

  &__2 {
    background-color: #c00;
  }

  &__3 {
    background-color: #900;
  }

  &__4 {
    background-color: #600;
  }

  &__5 {
    background-color: #300;
  }

  &__6 {
    background-color: #000;
  }
}
