* {
  margin: 0;
}

.antisnake {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.block {
  color: white;
  height: 300px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  text-align: center;
  line-height: 300px;
}

.block-1 {
  background-color: #f00;
}

.block-2 {
  background-color: #c00;
}

.block-3 {
  background-color: #900;
}

.block-4 {
  background-color: #600;
}

.block-5 {
  background-color: #300;
}

.block-6 {
  background-color: #000;
}

@media screen and (max-width: 750px) {

  .antisnake {
    grid-template-columns: repeat(2, auto);
  }

}

@media screen and (max-width: 450px) {

  .antisnake {
    grid-template-columns: repeat(1, auto);
  }
  
}
