* {
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
}

.box__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
}

.box__container > div {
  height: 300px;
  min-width: 300px;
  font-size: 100px;
  line-height: 300px;
  text-align: center;
  color: white;
}

.box__elem-1 {
  background-color: rgb(255, 0, 0);
}

.box__elem-2 {
  background-color: rgb(204,0,0);
}

.box__elem-3 {
  background-color: rgb(153, 0, 0);
}

.box__elem-4 {
  background-color: rgb(102, 0, 0);
}

.box__elem-5 {
  background-color: rgb(51,0,0);
}

.box__elem-6 {
  background-color: rgb(0,0,0);
}

@media (max-width: 899px) {
  .box__container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 599px) {
  .box__container {
    grid-template-columns: 1fr;
  }
}
