body {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 100px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  grid-auto-rows: 300px;
}

.item {
  color: #fff;
  text-align: center;
  line-height: 300px;
}

.item-1 {
  background-color: #f00;
}

.item-2 {
  background-color: #c00;
}

.item-3 {
  background-color: #900;
}

.item-4 {
  background-color: #600;
}

.item-5 {
  background-color: #300;
}

.item-6 {
  background-color: #000;
}

@media screen and (max-width: 599px) {
  .container {
    grid-template-columns: 1fr;
  }
}
