body {
  margin: 0;
}

.container {
  display: grid;
  grid-template-rows: repeat(6, 300px);
  grid-template-columns: 1fr;
}

.child {
  display: grid;
  font-family: Arial;
  font-size: 100px;
  color: white;
  justify-content: center;
  align-items: center;
}

.block-1 {
  background-color: #f00;
}

.block-2 {
  background-color: #c00;
}

.block-3 {
  background-color: #900;
}

.block-4 {
  background-color: #600;
}

.block-5 {
  background-color: #300;
}

.block-6 {
  background-color: #000;

}

@media (min-width: 1200px) {
  .container {
    grid-template-rows: repeat(2, 300px);
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 900px) and (max-width: 1199px) {
  .container {
    grid-template-rows: repeat(2, 300px);
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  .container {
    grid-template-rows: repeat(3, 300px);
    grid-template-columns: repeat(2, 1fr);
  }
}
