body {
  margin: 0;
}

.block-light-red {
  background-color: red;
}

.block-red {
  background-color: #c00;
}

.block-dark-red {
  background-color: #900;
}

.block-purple {
  background-color: #600;
}

.block-dark-purple {
  background-color: #300;
}

.block-black {
  background-color: #000;
}

.block-item {
  align-self: center;
  justify-self: center;
  height: 100px;
  margin: 0;
  color: #fff;
  font-family: "Arial", sans-serif;
  font-size: 100px;
  line-height: 100px;
}

.block {
  display: grid;
  height: 300px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  min-height: 100vh;
}

@media (min-width:1200px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .block {
    /* display: grid; */
    min-height: 300px;
  }
}
