body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.conteiner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.block {
  text-align: center;
  line-height: 300px;
  min-width: 300px;
  height: 300px;
  color: white;
  font-size: 100px;
}

.block1 {
  background-color: #f00;
}

.block2 {
  background-color: #c00;
}

.block3 {
  background-color: #900;
}

.block4 {
  background-color: #600;
}

.block5 {
  background-color: #300;
}

.block6 {
  background-color: #000;
}

@media screen and (max-width: 750px) {
  .conteiner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 450px) {
  .conteiner {
    grid-template-columns: repeat(1, 1fr);
  }
}
