body {
  margin: 0;
}

.antisnake {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.antisnake__item {
  --size: 300px;
  height: var(--size);
  min-width: var(--size);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  text-align: center;
  line-height: var(--size);
}

.antisnake__item--1 {
  background-color: rgba(255, 0, 0);
}

.antisnake__item--2 {
  background-color: rgba(204, 0, 0);
}

.antisnake__item--3 {
  background-color: rgba(153, 0, 0);
}

.antisnake__item--4 {
  background-color: rgba(102, 0, 0);
}

.antisnake__item--5 {
  background-color: rgba(51, 0, 0);
}

.antisnake__item--6 {
  background-color: rgba(0, 0, 0);
}

@media (max-width: 899px) {
  .antisnake {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 599px) {
  .antisnake {
    grid-template-columns: 1fr;
  }
}
