body {
  margin: 0;
}

.container {
  display: grid;
  grid-template-rows: repeat(2, 300px);
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
}

.container {
  font-family: Arial, sans-serif;
  font-size: 100px;
  color: #fff;
  text-align: center;
  line-height: 300px;
}

.block_1 {
  background-color: #f00;
}

.block_2 {
  background-color: #c00;
}

.block_3 {
  background-color: #900;
}

.block_4 {
  background-color: #600;
}

.block_5 {
  background-color: #300;
}

.block_6 {
  background-color: #000;
}

@media (max-width: 899px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 599px) {
  .container {
    grid-template-columns: 1fr;
  }
}
