body {
  margin: 0;
  padding: 0;
}

.block-container {
  display: grid;
  height: 300px;
  line-height: 300px;
  width: 100%;
  font-size: 100px;
  text-align: center;
  font-family: Arial, serif;
  color: white;
}

.block-1 {
  background-color: #f00;
}

.block-2 {
  background-color: #c00;
}

.block-3 {
  background-color: #900;
}

.block-4 {
  background-color: #600;
}

.block-5 {
  background-color: #300;
}

.block-6 {
  background-color: #000;
}

@media (min-width: 900px) {
  .block-container {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  .block-container {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr ;
  }
}

@media (max-width: 450px) {
  .block-container {
    display: block;
  }
}
