body {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.container__item {
  height: 300px;
  font: 100px Arial;
  color: white;
  text-align: center;
  display: grid;
  align-items: center;
}

.container__item--one {
  background-color: #f00;
}

.container__item--two {
  background-color: rgb(204,0,0);
}

.container__item--three {
  background-color: rgb(153,0,0);
}

.container__item--four {
  background-color: #600;
}

.container__item--five {
  background-color: #300;
}

.container__item--six {
  background-color: #000;
}

@media screen and (min-width: 1200px) {
  .container {
    grid-template-columns: repeat(auto-fill, 33.3%);
  }
}
