$item-colors: 1 #f00, 2 #c00, 3 #900, 4 #600, 5 #300, 6 #000;

body {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  &__item {
    font-family: Arial, serif;
    font-size: 100px;
    text-align: center;
    height: 300px;
    color: white;
    line-height: 300px;
  }

  @each $number, $color in $item-colors {
    div:nth-child(#{$number}) {
      background-color: #{$color};
    }
  }

  @media (min-width: 1200px) {
    & {
      grid-template-columns: repeat(auto-fit, minmax(33.33%, 1fr));
    }
  }
}
