body {
  margin: 0;
}

.snake-layout {
  display: grid;
  grid-template-rows: 300px 300px 300px;
  grid-template-columns: 1fr 1fr 1fr;
}

.color-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  font-family: Arial;
  font-size: 100px;
  color: white;
  text-align: center;
}

.one {
  background-color: rgb(255, 0, 0);
}

.two {
  background-color: rgb(204, 0, 0);
}

.three {
  background-color: rgb(153, 0, 0);
}

.four {
  background-color: rgb(102, 0, 0);
}

.five {
  background-color: rgb(51, 0, 0);
}

.six {
  background-color: rgb(0, 0, 0);
}
@media (min-width: 300px) {
  .snake-layout {
    display: grid;
    grid-template-rows: 300px 300px 300px 300px 300px 300px;
    grid-template-columns: 1fr;
  }
}

@media (min-width: 600px) {
  .snake-layout {
    display: grid;
    grid-template-rows: 300px 300px 300px;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 900px) {
  .snake-layout {
    display: grid;
    grid-template-rows: 300px 300px 300px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
