body {
  margin: 0;
}

.blocks {
  display: grid;
  grid-template-columns: repeat(auto-fill, calc(100%/3));
  justify-content: center;
}

.blocks__one,
.blocks__two,
.blocks__three,
.blocks__four,
.blocks__five,
.blocks__six {
  height: 300px;
  font-family: Arial;
  line-height: 300px;
  min-width: 300px;
  font-size: 100px;
  text-align: center;
  color: white;
  background-color: rgb(51, 0, 0);
}

.blocks__one {
  background-color: rgb(255, 0, 0);
}

.blocks__two {
  background-color: rgb(204, 0, 0);
}

.blocks__three {
  background-color: rgb(153, 0, 0);
}

.blocks__four {
  background-color: rgb(102, 0, 0);
}

.blocks__five {
  background-color: rgb(51, 0, 0);
}

.blocks__six {
  background-color: rgb(0, 0, 0);
}

@media (max-width: 899px) {
  .blocks {
    grid-template-columns: repeat(auto-fill, calc(100%/2));
  }
}

@media (max-width: 599px) {
  .blocks {
    grid-template-columns: repeat(auto-fill, 100%);
  }
}
