body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: grid;
  grid-template-rows: 300px 300px 300px;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center;
}

.grid-block {
  background: #ccc;
  font-size: 100px;
  color: #fff;
  line-height: 300px;
  text-align: center;
}

.grid-block:nth-child(1) {
  background-color: #f00;
}

.grid-block:nth-child(2) {
  background-color: #c00;
}

.grid-block:nth-child(3) {
  background-color: #900;
}

.grid-block:nth-child(4) {
  background-color: #600;
}

.grid-block:nth-child(5) {
  background-color: #300;
}

.grid-block:nth-child(6) {
  background-color: #000;
}

@media (max-width: 899px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 599px) {
  .container {
    grid-template-columns: 1fr;
  }
}
