body {
  margin: 0;
}

.one {
  background-color: rgb(255, 0, 0);
  grid-area: one;
}

.two {
  background-color: rgb(204, 0, 0);
  grid-area: two;
}

.three {
  background-color: rgb(153, 0, 0);
  grid-area: three;
}

.four {
  background-color: rgb(102, 0, 0);
  grid-area: four;
}

.five {
  background-color: rgb(51, 0, 0);
  grid-area: five;
}

.six {
  background-color: rgb(0, 0, 0);
  grid-area: six;
}

.block_number {
  font-family: Arial;
  color: white;
  line-height: 300px;
  font-size: 100px;
  display: block;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .all {
    display: grid;
    grid-template-rows: repeat(6 , 300px);
    grid-template-areas: "one""two""three""four""five""six";
  }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  .all {
    display: grid;
    grid-template-rows: repeat(3 , 300px);
    grid-template-areas: "one two""three four""five six";
  }
}

@media screen and (min-width: 900px) {
  .all {
    display: grid;
    grid-template-rows: 300px 300px;
    grid-template-areas: "one two three""four five six";
  }
}
