body {
  margin: 0;
}

.blocks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 300px 300px;
}

.blocks > div {
  font-family: Arial, sans-serif;
  font-size: 100px;
  text-align: center;
  line-height: 300px;
  color: #fff;
  min-width: 300px;
}

.block-1 {
  background-color: #f00;
}

.block-2 {
  background-color: #c00;
}

.block-3 {
  background-color: #900;
}

.block-4 {
  background-color: #600;
}

.block-5 {
  background-color: #300;
}

.block-6 {
  background-color: #000;
}

@media (max-width: 899px) {
  .blocks {
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 500px) {
  .blocks {
    grid-template-columns: 100%;
  }
}
