html {
  font-family: Arial, sans-serif;
  font-size: 100px;
  color: white;
}

body {
  margin: 0;
}

.snake {
  display: grid;
  grid-template-columns: minmax(300px, 1fr);
  grid-template-areas: "one" "two" "three" "four" "five" "six";
}

.snake__block {
  text-align: center;
  height: 300px;
  line-height: 300px;
}

.snake__block--first {
  grid-area: one;
  background-color: rgb(255, 0, 0);
}

.snake__block--second {
  grid-area: two;
  background-color: rgb(calc(4/5*255), 0, 0);
}

.snake__block--third {
  grid-area: three;
  background-color: rgb(calc(3/5*255), 0, 0);
}

.snake__block--fourth {
  grid-area: four;
  background-color: rgb(calc(2/5*255), 0, 0);
}

.snake__block--fifth {
  grid-area: five;
  background-color: rgb(calc(1/5*255), 0, 0);
}

.snake__block--sixth {
  grid-area: six;
  background-color: rgb(0, 0, 0);
}

@media screen and (min-width: 600px) {
  .snake {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    grid-template-areas: "one two" "three four" "five six";
  }
}

@media screen and (min-width: 900px) {
  .snake {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-template-areas: "one two three" "four five six";
  }
}
