
body {
  margin: 0;
  padding: 0;

}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  color: white;
  text-align: center;
}

.block {
  display: grid;
  height: 300px;
  justify-content: center;
  align-items: center;
}

.container_one {
  background: #f00;
}

.container_two {
  background: #600;
}

.container_three {
  background: #9a0000;
}

.container_four {
  background: #600;
}

.container_five {
  background: #300;
}

.container_six {
  background: #000;
}

@media (max-width: 750px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 450px) {
  .container {
    grid-template-columns: 1fr;
  }
}
