body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 100px;
  color: white;
}

.boxes {
  display: grid;
  grid-template: repeat(2, 300px) / repeat(3, 1fr);
}

.boxes > div {
  height: 300px;
  min-width: 300px;
  text-align: center;
  line-height: 300px;
}

.box-1 {
  background-color: red;
}

.box-2 {
  background-color: #c00;
}

.box-3 {
  background-color: #900;
}

.box-4 {
  background-color: #600;
}

.box-5 {
  background-color: #300;
}

.box-6 {
  background-color: black;
}

@media (max-width: 899px) {
  .boxes {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 599px) {
  .boxes {
    grid-template-columns: repeat(1, auto);
  }
}
