$content-color: white;
$content-font-family: Arial, Helvetica, sans-serif;
$content-font-size: 100px;
$block-height: 300px;
$block-1-bg: rgb(255, 0 ,0);
$block-2-bg: rgb(4/5*255, 0 ,0);
$block-3-bg: rgb(3/5*255, 0 ,0);
$block-4-bg: rgb(2/5*255, 0 ,0);
$block-5-bg: rgb(1/5*255, 0 ,0);
$block-6-bg: rgb(0, 0 ,0);
